{% extends 'base.html' %}

{% block title %}Add Bus{% endblock %}

{% block content %}

<div class="row justify-content-center">

    <div class="col-md-7">

        <div class="card shadow">

            <div class="card-header bg-primary text-white">

                <h4>Add New Bus</h4>

            </div>

            <div class="card-body">

                <form method="post">

                    {% csrf_token %}

                    {{ form.as_p }}

                    <button class="btn btn-success">
                        Save Bus
                    </button>

                    <a href="{% url 'bus_list' %}" class="btn btn-secondary">
                        Cancel
                    </a>

                </form>

            </div>

        </div>

    </div>

</div>

{% endblock %}