{% extends 'base.html' %}

{% block title %}Add Schedule{% endblock %}

{% block content %}

<div class="row justify-content-center">

    <div class="col-md-8">

        <div class="card shadow">

            <div class="card-header bg-primary text-white">
                <h4>Add Schedule</h4>
            </div>

            <div class="card-body">

                <form method="post">

                    {% csrf_token %}

                    {{ form.as_p }}

                    <button class="btn btn-success">
                        Save Schedule
                    </button>

                    <a href="{% url 'schedule_list' %}" class="btn btn-secondary">
                        Cancel
                    </a>

                </form>

            </div>

        </div>

    </div>

</div>

{% endblock %}